<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EduRisk</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MvcPractice.styles.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>

    <div class="header mx-4">
        <nav class="navbar navbar-expand">

            <img alt="Logo" height="75" src="~/img/logo.svg" />
            <h2 class="mx-2">EduRisk</h2>

            <ul class="navbar-nav mx-5">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/students">Students</a>
                </li>
            </ul>

        </nav>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            <div>
                <h2 class="text-center">@ViewData["Title"]</h2>
            </div>

            @RenderBody()
        </main>
    </div>

    <footer class="footer d-flex justify-content-center">
        <p>&copy; 2023 valeriia.hadenko@nure.ua</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

